<div class="baseline-container" id="work-top">

  <h2>Hi! I'm Kevin.</h2>
  <h2 class="intro-text">
  Strategist<br>
  Full Stack Developer<br>
  Product person
  </h2>
  <p id="intro-paragraph">I spent the first chapter of my career as a management consultant working with clients across many industries — cable, media, retail to name a few. I built the foundation of my career on business strategy, but I’ve expanded my focus in recent years towards product and design. 

At a certain point in my career, I was becoming painfully aware of the limitations of a one-page resume. I spent years working with clients to transform complex information into visually engaging materials to facilitate the exchange of ideas. I thought to myself, surely, consultants can do the same with their resumes! This also happened to come at a time when I was learning how to become a full-stack software developer. This career portfolio ended up becoming a modest output of the skills I picked up along that journey. 

I created the graphics used in this portfolio as illustrative snapshots of the deliverables I produced for my clients. If you’d like to see a classic one-page resume, you can find that under the About section.

I hope this portfolio gives you a brief but insightful look into my career so far. If there’s something you’d like to know more about or if you’d just like to chat, please feel free to drop me a line!
  </p>
  <div id="firms-container">
    <div id="firms-image">
      <%= image_tag "/assets/work/firms.png" %>
    </div>
  </div>
  <div class="content-image">
    <div class="content-image-caption caption-frame">
      Firms I worked at over the years
   </div>
  </div>
  <div id="work-arrow-down" class="arrow-activate">
    <%= image_tag "/assets/work/arrow.png", class:"work-arrow" %>
  </div>
  <div id="work"></div>
  <div id="work-arrow-up">
    <%= image_tag "/assets/work/arrow.png", class:"work-arrow" %>
  </div>
  <h2>Work</h2>
  <h4 id="work-subtitle">Projects I've worked on throughout my career as a management consultant. This is not a fully comprehensive list, but a curated collection of my work that best represents my experience.</h4>
  <div class="index-grid-container">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class:"index-grid-item project-grid-item" do %>
        <%= image_tag "#{project.thumbnail}" %>
        <%= project.title %>
      <% end %>
    <% end %>
  </div>

</div>