<div class="baseline-container">

  <h2>Hi! I'm Kevin.</h2>
  <h2 class="intro-text">
  Consultant<br>
  Product person<br>
  Designer
  </h2>
  <p id="intro-paragraph">I’ve spent the first chapter of my career as a management consultant working with clients primarily in the media, tech, and cable industries. My earlier projects were mostly centered around business strategy, but I’ve shifted my focus in recent years towards product and design. 

I recall a moment not too long ago in which I came across a career portfolio from someone who worked in architecture. I knew this was standard fare for people who work in the creative fields, but it still left a big impression on me to see one’s entire history of work presented visually. It made me think about the text resumes that were commonplace among my management consultant peers and how unimpressive of a format it was in comparison. The norm for us has always been to distill our entire careers onto a single page of bullet points, and with such a restricted canvas, it’s no wonder that most consultant resumes read very similarly.

I wanted to tell the story of my own career visually, and to transpose my text resume into a more engaging, expressive format. Out of respect for standard consulting convention, client names and deliverable samples from my work as a management consultant have been obfuscated to maintain confidentiality of sensitive information. I created the graphics used in this portfolio as an illustrative snapshot into the kind of deliverables I produced for my clients. If you’re so inclined to see a more typical one-page resume anyway, you can find that under the About section.

I’ve also devoted a section of my portfolio to my Musings — a collection of thoughts and observations on products, experiences, and designs I come across in my everyday.

I hope this portfolio gives you a brief but insightful look into my career so far. If there’s something you’d like to know more about or if you’d just like to chat, please feel free to drop me a line!
  </p>
  <div id="work-arrow-down" class="arrow-activate">
    <%= image_tag "/assets/work/arrow.png" %>
  </div>
  <div id="work"></div>
  <div id="work-arrow-up">
    <%= image_tag "/assets/work/arrow.png" %>
  </div>
  <h2>Work</h2>
  <h4 id="work-subtitle">Projects I've worked on throughout my career as a management consultant. This is not a fully comprehensive list, but rather a curated collection of my work that I feel best represents my experience.</h4>
  <div class="index-grid-container">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class:"index-grid-item project-grid-item" do %>
        <%= image_tag "#{project.thumbnail}" %>
        <%= project.title %>
      <% end %>
    <% end %>
  </div>

</div>