<div class="baseline-container" id="work-top">

  <h2>Hi! I'm Kevin.</h2>
  <h2 class="intro-text">
  Consultant<br>
  Strategist<br>
  Product person
  </h2>
  <p id="intro-paragraph">I spent the first chapter of my career as a management consultant working with clients in media, tech, and cable. My earlier work was mostly centered around business strategy, but I’ve expanded my focus in recent years towards product strategy and design. 

There was a moment not long ago when I decided that bullet points on a single page were inadequate to effectively describe my career. I had spent lots of time over the years building presentations for clients, transforming complex information into visually engaging materials to facilitate the exchange of ideas. During this time, I learned how impactful it is to have good communication complement good thinking, so I built this career portfolio with the goal of telling the story of my career on a more open and expressive canvas.

Out of respect for standard consulting convention, client names and deliverable samples from my work as a management consultant have been obfuscated to maintain confidentiality of sensitive information. I created the graphics used in this portfolio as illustrative snapshots of the deliverables I produced for my clients. If you’d like to see a more typical one-page resume, you can find that under the About section.

I hope this portfolio gives you a brief but insightful look into my career so far. If there’s something you’d like to know more about or if you’d just like to chat, please feel free to drop me a line!
  </p>
  <div id="firms-container">
    <div id="firms-image">
      <%= image_tag "/assets/work/firms.png" %>
    </div>
  </div>
  <div class="content-image">
    <div class="content-image-caption caption-frame">
      Firms I worked at over the years
   </div>
  </div>
  <div id="work-arrow-down" class="arrow-activate">
    <%= image_tag "/assets/work/arrow.png", class:"work-arrow" %>
  </div>
  <div id="work"></div>
  <div id="work-arrow-up">
    <%= image_tag "/assets/work/arrow.png", class:"work-arrow" %>
  </div>
  <h2>Work</h2>
  <h4 id="work-subtitle">Projects I've worked on throughout my career as a management consultant. This is not a fully comprehensive list, but a curated collection of my work that best represents my experience.</h4>
  <div class="index-grid-container">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class:"index-grid-item project-grid-item" do %>
        <%= image_tag "#{project.thumbnail}" %>
        <%= project.title %>
      <% end %>
    <% end %>
  </div>

</div>