<% banner_height = @project.banner_height %>
<% banner_bg_color = @project.banner_bg_color %>
<% banner_text = @project.banner_text_color %>
<% banner_subtext = @project.banner_subtext_color %>

<%# added the below line to make the iphone notch color blend in with background bg color %>
<meta name="theme-color" content="<%= banner_bg_color %>"/>

<div
  class="project-banner"
  style="background-color: <%= banner_bg_color %>;">


  <div class="project-show-container">
    <div class="project-header">
      <div class="project-header-left">
        <h2 class="project-title" style="color: <%= banner_text %>;"><%= @project.title %></h2>
        <h3 style="color: <%= banner_subtext %>;"><%= @project.client_name %></h3>
      </div>
      <div class="project-header-right">
        <h6 style="color: <%= banner_text %>;"><%= @project.blurb %></h6>
      </div>
    </div>
  </div>


  <% upper_padding = @project.banner_upper_padding %>
  <% lower_padding = @project.banner_lower_padding %>
  <div
    class="project-banner-image"
    style="
      padding-top: <%= upper_padding %>;
      padding-bottom: <%= lower_padding %>;
      height: <%= banner_height %>;"
  >
    <%= image_tag @project.banner %>
  </div>

</div>

<div class="page-background">
  <div class="project-show-container">

    <div class="project-details">
      <div class="project-details-left">
        <% if @project.start_year == @project.end_year %>
          <h3 class="project-years"><%= @project.start_year %></h3>
        <% else %>
          <h3 class="project-years"><%= "#{@project.start_year}" + "-" + "#{@project.end_year}" %></h3>
        <% end %>
        <h3 class="company-name"><%= @project.company %></h3>
      </div>
      <div class="project-details-right">
        <p><%= @project.description %></p>
      </div>
    </div>

    <div class="slide-grid-container">
      <% @slides.each do |slide| %>
        <div class="slide-grid-item">
          <div class="slide-grid-left">
            <%= image_tag slide.image %>
          </div>
          <div class="slide-grid-right">
            <h5 class="slide-title"><%= slide.title %></h5>
            <p><%= slide.description %></p>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>  