<div class="project-banner">


  <div class="project-show-container">
    <div class="project-header">
      <div class="project-header-left">
        <h2 class="project-title"><%= @project.title %></h2>
        <h3><%= @project.client_name %></h3>
      </div>
      <div class="project-header-right">
        <h6><%= @project.blurb %></h6>
      </div>
    </div>
  </div>


  <div class="project-banner-image">
    <%= image_tag @project.banner %>
  </div>

</div>


<div class="project-show-container page-background">

  <div class="project-details">
    <div class="project-details-left">
      <% if @project.start_year == @project.end_year %>
        <h3><%= @project.start_year %></h3>
      <% else %>
        <h3><%= "#{@project.start_year}" + "-" + "#{@project.end_year}" %></h3>
      <% end %>
      <h3><%= @project.company %></h3>
    </div>
    <div class="project-details-right">
      <p><%= @project.description %></p>
    </div>
  </div>

  <div class="slide-grid-container">
    <% @slides.each do |slide| %>
      <div class="slide-grid-item">
        <div class="slide-grid-left">
          <%= image_tag slide.image %>
        </div>
        <div class="slide-grid-right">
          <h5 class="slide-title"><%= slide.title %></h5>
          <p><%= slide.description %></p>
        </div>
      </div>
    <% end %>

  </div>

</div>