<div class="musings-container">
  <h2 id="musing-show-title"><%= @musing.title %></h2>
  <h3 id="musing-show-date"><%= @musing.created_at.strftime("%B %e, %Y") %></h3>

  <% contents = [] %>
  <% @contents.each do |content| %>
    <% contents << content %>
  <% end %>
  <% contents_sorted = contents.sort_by{|s| s.position} %>
  <% contents_sorted.each do |content| %>
    <% if content.image %>
      <div class="content-image">
        <%= image_tag content.image %>
        <div class="content-image-caption">
          <%= content.text_content %>
        </div>
      </div>
    <% else %>
      <p class="content-text">
        <%= content.text_content %>
      </p>
    <% end %>
  <% end %>

</div>