<!DOCTYPE html>
<html>
  <head>
    <title>Kevin Kim Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# importing Acumin pro font below %>
    <link rel="stylesheet" href="https://use.typekit.net/nnn7iuj.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
